# PostgreSQL
POSTGRES_DB=passport_inspector
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# MinIO
MINIO_ROOT_USER=minio99
MINIO_ROOT_PASSWORD=minio123

# JWT
JWT_SECRET=demo-demo-demo-demo-demo-demo-demo-demo-secret

# GRAFANA
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=1234567890!

# SMEV
SMEV_CLIENT_TOKEN=test-token