# PostgreSQL
POSTGRES_DB=changeme
POSTGRES_USER=changeme
POSTGRES_PASSWORD=changeme

# MinIO
MINIO_ROOT_USER=changeme
MINIO_ROOT_PASSWORD=changeme

# JWT
JWT_SECRET=changeme

# GRAFANA
GRAFANA_ADMIN_USER=changeme
GRAFANA_ADMIN_PASSWORD=changeme

# SMEV
SMEV_CLIENT_TOKEN=changeme